<section class="hero is-primary has-text-centered	 is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Learn How To Write
      </h1>
      <h2 class="subtitle">
        Clean And Maintainable Code
      </h2>
    </div>
  </div>
</section>